 	/**
 	* .............................................
 	* UNIVERSIDAD  FRANCISCO  DE  PAULA  SANTANDER
 	*    PROGRAMA  DE  INGENIERIA  DE  SISTEMAS
 	*      ALAN Y EL MISTERIOSO REINO DE ENIAC
 	*             SAN JOSE DE CUCUTA-2014
	 * ............................................
 	*/

	/**
	*	Estilos en cascada solo para la pagina de inicio, reestablecimiento de contraseña y registroDocente
	*	Estas paginas ademas tienen estilos disponibles en styles.css
	 *	@author - Gerson Yesid Lázaro 
 	*	@author - Angie Melissa Delgado
	*/
/******************************DISPOSICIONES GENERALES*************************************/	

h1{
	font-size: 2.2rem;
}
.container{
	text-align: center;
}
.superior{
	background-color: #FFF;
}
.logo{
	margin-left: 5%;
}


/*************************************BOTONES********************************************/
.botones{
	float: right;
}
.botones ul{
	list-style: none;

}
.botones ul li{
	float: left;
}
.botones ul li div{
	font-size: 2rem;
	padding-top: 2.5rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	height: 7rem;
	width: 13rem;
	cursor: pointer;
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
	background: rgba(0,0,0,.05);
	border-left: 1px solid #DDD;
	transition: all .3s ease;
}
.botones ul li div:hover{
	border-bottom: 2px solid #34495e;
	background-color: #2980b9;
	color #FFF; 
}


/*********************************DÍSPOSICIÓN DE CONTENIDO***************************************/
.contenido{
	background-color: #ecf0f1;
	padding: 3rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.cuatroColumnas{
	height: 14rem;
}
.cuatroColumnas div{
	padding: 4.5rem 1rem 1rem 1rem;
	color: #2980b9;
}
.datosJuego{
	height: 300px;
}
.galeria{
	background-color: #ecf0f1;
}
.registrar, .loguear, .pass{
	display: none;
	opacity: 0;
	transition: all .3s ease;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	z-index: 10;
}

.espacio{
	width: 40%;
	background-color: #ecf0f1;
	border-bottom: .5rem solid #34495e;
	margin: 10rem auto auto auto;
	text-align: center;
	padding: 1.5rem;
}
.cerrar{
	color: #34495e;
	font-size: 2.4rem;
	text-align: right;
	cursor: pointer;
	right: .5rem;
	top: .5rem;
}
label{
	font-size: 1.6rem;
}
input[type="text"], input[type="number"] , input[type="email"], input[type="password"]{
	height: 2.8rem;
	border: none;
	border-bottom: .1rem solid #999;
	background-color: #ecf0f1;
	text-align: center;
	margin: 1rem;
}